@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme="dark"] :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[data-theme="light"] .logo .circle {
  background-color: rgb(17, 24, 28);
}

[data-theme="dark"] .logo .circle {
  background-color: rgb(225, 225, 225);
}

.logo:hover .circle {
  transform: translateY(0rem);
}
