@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appbar-height: 7rem;
  --main-height: calc(100vh - var(--appbar-height));
}

[data-theme="light"] :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme="dark"] :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply text-8xl font-bold;
  font-size: clamp(2rem, 5vw, 6rem);
   p {
    @apply text-4xl;
    font-size: clamp(1.625rem, 3.5vw, 3.625rem);
  }
}

.logo:hover .circle {
  transform: translateY(0rem);
}

.button {
  @apply bg-foreground text-background flex items-center justify-center px-7 py-3.5 leading-tight;
}

.home-block {
  max-width: 94rem;
}

.info-block {
    min-width: clamp(20rem, 6vw, 44.375rem);
}

.video-collage {
    min-width: 100%;
}

@media (min-width: 10.24rem) {
    .video-collage {
        min-width: 27.25rem;
        max-width: 45rem
    }
}