@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appbar-height: 7rem;
  --main-height: calc(100vh - var(--appbar-height));
}

[data-theme="light"] :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

[data-theme="dark"] :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  @apply text-8xl font-semibold;
  font-size: clamp(2rem, 5vw, 6rem);
  p {
    @apply text-4xl;
    font-size: clamp(1.625rem, 3.5vw, 3.625rem);
  }
}

.logo:hover .circle {
  transform: translateY(0rem);
}

.button {
  @apply bg-foreground text-background flex items-center justify-center px-7 py-3.5 leading-tight;
  &:hover {
    @apply bg-warning duration-300;
  }
}

main {
  margin-top: var(--appbar-height);
}

.main > div {
  max-width: 94rem;
}

.info-block {
  min-width: clamp(23.75rem, 6vw, 44.375rem);
}

.home-icons {
  max-width: 32.75rem;
  min-width: 23.75rem;
  transition: opacity 1.6s ease-in-out;
}

.home-icons:hover > .home-icon:not(:hover) {
  opacity: 0.4;
}

.home-icon:hover {
  > .icon {
    scale: 1.3;
  }
}

.video-collage {
  min-width: 27.5rem;
  > .video {
    width: 32.5%;
    max-width: 50rem;
  }
}

.cards > div {
  max-width: 46rem;
  width: 40vw;
}

.mini-cards > div {
  max-width: 30rem;
  width: 26vw;
}

@media (max-width: 1024px) {
  .cards > div {
    width: 100%;
  }
  .mini-cards > div {
    width: 35vw;
  }
}

@media (max-width: 768px) {
  .mini-cards > div {
    width: 100%;
  }
}
